<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        *{
            box-sizing: border-box;
        }
        body{
            padding: 0;
            margin: 0;
        }
        nav{
            display: flex;
            justify-content: space-between;
            background-color: teal;
        }
        .logo h3{
            color: snow;
            font-size: 1.5rem;
            padding: 0 10px;
        }
        ul{
            list-style: none;
            display: flex;
            padding: 10px 0;
        }
        ul li{
            margin-right: 2rem;
        }
        ul li a{
            text-decoration: none;
            font-size: 1.2rem;
            color: snow;
            font-weight: bold;
        }
        section#products{
            background-color:burlywood;
            /* height: 100vh; */
        }
        .row{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .item{
            background-color:beige;
            display: flex;
            justify-content: space-between;
            flex-basis: 23%;
            padding: 1rem;
            margin-bottom: 1rem;
        }
        .phone span{
            color: #444;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .img p a{
            text-decoration: none;
            color: crimson;
            font-weight: bold;
            margin-right: 0.5rem;
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo"><h3>Our Users</h3></div>
        <div class="list">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/users/add">Add</a></li>
                <li><a href="/users/search">Search</a></li>
            </ul>
        </div>
    </nav>
    <section id="products">
        <div class="content" style="padding: 20px;">
            <h2 style="color: teal; font-weight: bold; font-size: 2rem; text-align: center;">Users List</h2>
            <div class="row">
                <%userList.forEach((user)=>{%>
                    <div class="item">
                        <div class="img"> <img src="person_1.jpg" alt="" width="100px">
                            <p><a href="/users/delete/<%=user.email%>">delete</a>
                                <a href="/users/edit/<%=user.email%>"">edit</a>
                            </p>
                        </div>
                        <div class="phone">
                            <span class="name"><%=user.name%></span><br>
                            <span class="desc"><%=user.email%></span><br>
                             <span class="price"><%=user.age%></span>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </section>
</body>
</html>
